body {
    font-family: "Sunflower", sans-serif;
    background: linear-gradient(
      to right,
      #8a3402,
      #806d02
    ); /* Degradado de izquierda a derecha */
    font-size: 30px;
    color: #ffffff; /* Cambia el color del texto a blanco para mejor contraste */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  header h1 {
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  
  .button-container {
    display: flex;
    flex-direction: row; /* Cambia la disposición a horizontal */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Alinea los botones verticalmente */
    padding: 20px; /* Espacio adicional alrededor del contenedor de botones */
    gap: 20px; /* Espacio entre los botones */
  }
  
  button {
    font-family: "Sunflower", sans-serif;
    margin: 10px 0; /* Espacio vertical entre botones */
    padding: 10px 20px; /* Tamaño de los botones */
    font-size: 40px; /* Tamaño del texto */
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background: transparent;
    color: white;
  }
  
  footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
  }
  
  h2 {
    font-size: 5px;
  }
  
  .name {
    font-size: 20px; /* Reduce el tamaño de la fuente para los nombres */
    margin: 5px 0; /* Añade un pequeño margen entre los nombres */
  }
  
  .methods_container {
    gap: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input {
    font-family: "Sunflower", sans-serif;
    width: 40%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #f8e5e5;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
  
  .form {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .button {
    font-family: "Sunflower", sans-serif;
    width: 45%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #a7a7a7;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
  
  .title{
      text-align: center;
      font-family: "Sunflower", sans-serif;
      font-size: 55px;
  }
  
  #method-select {
    font-family: "Sunflower", sans-serif;
    padding: 5px;
    font-size: 30px;
    margin-bottom: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .method-form {
    display: none;
    border-radius: 5px;
    margin: 20px 0;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .method-form p{
    font-size: 30px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }
  
  .method-form h2 {
    color: white;
  }

