body {
    font-family: "Sunflower", sans-serif;
    background: linear-gradient(to right, #8a3402, #806d02);
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    font-family: "Sunflower", sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #8a3402;
    transition: background-color 0.3s;
}

button:hover {
    background-color: transparent;
    color: white;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.methods_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

input[type="text"], select {
    font-family: "Sunflower", sans-serif;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #f8e5e5;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}

input[type="submit"] {
    font-family: "Sunflower", sans-serif;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #a7a7a7;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #8a3402;
    color: white;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.results-container img {
    max-width: 80%;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 10px;
}
