<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Capitulo 1</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles-cap4.css' %}"
    />
    <link href="https://fonts.cdnfonts.com/css/sunflower-2" rel="stylesheet" />
    <script>
      function showForm(method) {
        document.querySelectorAll(".method-form").forEach((form) => {
          form.style.display = "none";
        });
        if (method) {
          document.getElementById(method).style.display = "block";
        }
      }
      window.onload = function () {
        const selectedMethod = "{{ selected_method }}";
        if (selectedMethod) {
          showForm(selectedMethod);
          document.getElementById("method-select").value = selectedMethod;
        }
      };
    </script>
  </head>
  <body>
    <header>
      <h1>Bienvenido al Capitulo 1</h1>
    </header>

    <div class="button-container">
      <a href="/cap2"><button>Capítulo 2</button></a>
      <a href="/cap3"><button>Capítulo 3</button></a>
      <a href="/cap4"><button>Integrales</button></a>
    </div>
    <div class="methods_container">
      <label for="method-select">Selecciona un método:</label>
      <select id="method-select" onchange="showForm(this.value)">
        <option value="">--Selecciona un método--</option>
        <option value="Bisección">Bisección</option>
        <option value="Reglafalsa">Regla Falsa</option>
        <option value="Puntofijo">Punto fijo</option>
        <option value="Newton">Newton</option>
        <option value="Secante">Secante</option>
        <option value="Newton2">Newton2</option>
      </select>
    </div>
    <div class="methods_container">

      <div id="Bisección" class="method-form" style="display: none">
        <h2 class="title">Bisección</h2>
        
        <form method="POST" action="{% url 'cap1' %}" class="form">
          {% csrf_token %}
          <input
            type="text"
            placeholder="Funcion"
            name="Funcion"
            class="input"
          />
          <input type="text" placeholder="Xs" name="Xs" class="input" />
          <input 
            type="text"
            placeholder="Xi" 
            name="Xi" 
            class="input" />
          <input
            type="text"
            placeholder="Tolerancia"
            name="tol"
            class="input"
          />
          <input
            type="text"
            placeholder="Cantidad de iteraciones"
            name="n"
            class="input"
          />
          <input type="hidden" name="form_type" value="Bisección" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
        {% if selected_method == 'Bisección' %} {% if result is not None %}
        <button>Descargar</button></a>
        <h1>{{name}}</h1>
        {{result | safe}}{% endif %}{% endif %}
      </div>

      <div id="Reglafalsa" class="method-form" style="display: none">
        <h2 class="title">Regla falsa</h2>
        
        <form method="POST" action="{% url 'cap1' %}" class="form">
          {% csrf_token %}
          <input
            type="text"
            placeholder="Funcion"
            name="Funcion"
            class="input"
          />
          <input type="text" placeholder="X0" name="X0" class="input" />
          <input 
            type="text"
            placeholder="X1" 
            name="X1" 
            class="input" />
          <input
            type="text"
            placeholder="Tolerancia"
            name="tol"
            class="input"
          />
          <input
            type="text"
            placeholder="Cantidad de iteraciones"
            name="n"
            class="input"
          />
          <input type="hidden" name="form_type" value="Reglafalsa" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
        {% if selected_method == 'Reglafalsa' %} {% if result is not None %}
        <button>Descargar</button></a>
        <h1>{{name}}</h1>
        {{result | safe}}{% endif %}{% endif %}
      </div>
      <div id="Puntofijo" class="method-form" style="display: none">
        <h2 class="title">Punto fijo</h2>
        <p>todo es con error relativo</p>
        <form method="POST" action="/cap1/" class="form">
          {% csrf_token %}
          <input type="text" placeholder="Funcionf" name = "Funcionf" class="input" />
          <input type="text" placeholder="cantidad de operacones" name= "niter" class="input" />
          <input type="text" placeholder="X0" name = "X0" class="input" />
          <input type="text" placeholder="Funciong" name="Funciong" class="input" />
          <input type="text" placeholder="tolerancia" name="tolerancia" class="input" />
          <input type="hidden" name="form_type" value="Puntofijo" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
      </div>
      <div id="Newton" class="method-form" style="display: none">
        <h2 class="title">Newton</h2>
        <form method="POST" action="/cap1/" class="form">
          {% csrf_token %}
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="hidden" name="form_type" value="Newton" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
      </div>
      <div id="Secante" class="method-form" style="display: none">
        <h2 class="title">Secante</h2>
        <form method="POST" action="{% url 'cap1' %}" class="form">
          {% csrf_token %}
          <input
            type="text"
            placeholder="Funcion"
            name="Funcion"
            class="input"
          />
          <input type="text" placeholder="X0" name="X0" class="input" />
          <input type="text" placeholder="X1" name="X1" class="input" />
          <input
            type="text"
            placeholder="Tolerancia"
            name="tol"
            class="input"
          />
          <input type="hidden" name="form_type" value="Secante" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
        {% if selected_method == 'Secante' %} {% if result is not None %}
          <button>Descargar</button></a>
          <h1>{{name}}</h1>
          {{result | safe}}{% endif %}{% endif %}
      </div>
      <div id="Newton2" class="method-form" style="display: none">
        <h2 class="title">Newton raices multiples</h2>
        <form method="POST" action="/cap1/" class="form">
          {% csrf_token %}
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="text" placeholder="" class="input" />
          <input type="hidden" name="form_type" value="Newton2" />
          <input type="submit" value="Submit Form 1" class="button" />
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <h2 class="title">Integrantes del proyecto</h2>
        <p class="name">Julián Mejía</p>
        <p class="name">David Grisales</p>
        <p class="name">Camilo</p>
        <p class="name">Juancito</p>
        <p class="name">Sebastián Arias Usma</p>
      </div>
    </footer>
  </body>
</html>
