<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Proyecto de Análisis Numérico</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
      href="{% static 'css/styles.css' %}"
    />
    <link href="https://fonts.cdnfonts.com/css/sunflower-2" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Bienvenido al Capitulo 3</h1>
    </header>

    <div class="button-container">
      <a href="/cap1"><button>Capítulo 1</button></a>
      <a href="/cap3"><button>Capítulo 3</button></a>
      <a href="/cap4"><button>Capítulo 4</button></a>
      <a href="/"><button>Regresar al inicio</button></a>
    </div>

    <footer>
      <div class="footer-content">
        <h2>Integrantes del proyecto</h2>
        <p class="name">Julián Mejía</p>
        <p class="name">David Grisales</p>
        <p class="name">Camilo</p>
        <p class="name">Juancito</p>
        <p class="name">Sebastián Arias Usma</p>
      </div>
    </footer>
  </body>
</html>
